// --------------------------------------------------
// Typography
// --------------------------------------------------

.title
  color $white
  font-size 5.6rem
  font-weight 800
  letter-spacing -.2rem
  line-height 1

  &:not(:last-child)
    margin-bottom ($space-xxs / 2)

.subtitle
  color $gold
  font-size 1.3rem
  font-weight 600
  letter-spacing .2rem
  text-transform uppercase

  &:not(:last-child)
    margin-bottom $space

.description
  color $gray-light
  font-size 1.5rem
  line-height 1.75

  &:not(:last-child)
    margin-bottom $space-sm
